* {
   margin:0;
   padding:0;
}

body {
	background-color: black;
}

p, h1, h2, h3, .header {
	color: white;
}

h1 {
	margin: 15px;
}

section#header.module.content {
	text-align: center;
	height: 10vh;
	width: 100%;
	margin: 0;
	background: black;
}

section.module.parallax {
	height: 75vh;
	margin-bottom: 15vh;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: contain;
	display: flex;
	align-items: center;
}


section.module.parallax-1 {
	background-image: url("../img/sarah/1.jpg");
}
section.module.parallax-2 {
	background-image: url("../img/sarah/2.jpg");
}
section.module.parallax-3 {
	background-image: url("../img/sarah/3.jpg");
}