section.module.parallax {
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.module.parallax-1 {
  background-image: url("forest.jpg");
}
section.module.parallax-2 {
  background-image: url("snow.jpeg");
}
section.module.parallax-3 {
  background-image: url("../img/demo/_small/3.jpg");
}