	html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	body {
		font-family: 'Montserrat', sans-serif;
		margin:0;
	}

	.heading {
		font-size: 18px;
		color: #787878;
		margin: 0 0 0 0;
	}

	h2 {
		font-size: 18px;
		text-transform: uppercase;
		padding: 0;
		margin: 0;
	}

	h3 {
		font-size: 13px;
		padding: 0;
		margin: 0;
	}

	span.date {
		font-weight: 200;
		font-size: 15px;
	}

	.row { width 100%; }

	ul {
		font-size: 13px;
	}

	a,a:visited {
		color:#000;
		text-decoration: none;
	}

	a:hover {
		color: #E69739;
	}

	.col {
		background: #ccc;
	} 
	
	div.col.span_6_of_8 {
		margin-bottom: 20px;
	}

	.fixed-content { 
		position: fixed; 
		width: 36.5%;
		height: 100vh;
	}

	.tab { position:relative; }

	@media only screen and (max-width: 768px) {
		.fixed-content {
			position: static;
			height: 50vh;
			width: 100%;
		}

		div.col.span_2_of_8 {
			float: right;
		}

		.tab {
			position:absolute;
		}

	}